<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Monster Fit</title>
    <link rel="icon" type="image/x-icon" href="../assets/barra-con-pesas.ico"/>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="../assets/css/sidebar.css" rel="stylesheet" />
  </head>
  <body>
    <div class="sidebar">
      <div class="top">
        <div class="logo">
          <i class="bx bx-dumbbell"></i> <span>Admin 12345</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <div class="user">
        <img src="../assets/img/instructorGym.jpg" alt="me" class="user-img" />
        <div>
          <p class="bold">Alexis T.</p>
          <p>Admin</p>
        </div>
      </div>
      <ul>
        <li>
          <a href="#">
            <i class="bx bxs-grid-alt"></i>
            <span class="nav-item">Inicio</span>
          </a>
          <span class="tooltip">Inicio</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-user-check"></i>
            <span class="nav-item">Asignar</span>
          </a>
          <span class="tooltip">Asignar</span>
        </li>

        <li>
          <a href="#">
            <i class="bx bx-list-ul"></i>
            <span class="nav-item">Rutina</span>
          </a>
          <span class="tooltip">Rutina</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-list-plus"></i>
            <span class="nav-item">Crear</span>
          </a>
          <span class="tooltip">Crear</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-dumbbell"></i>
            <span class="nav-item">Ejercicio</span>
          </a>
          <span class="tooltip">Ejercicio</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="nav-item">Salir</span>
          </a>
          <span class="tooltip">Salir</span>
        </li>
      </ul>
    </div>

    <div class="main-content">
      <div class="container">
        <h1>Admin Gabriel</h1>
        <h1>Testing side</h1>
      </div>
    </div>
  </body>
  <script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");

    btn.onclick = function () {
      sidebar.classList.toggle("active");
    };
  </script>
</html>
